In [1]:
#Lecture4 : dictionaries and sets
dict0 = dict({'key1':1, 'key2':2})
set0 = {(1,3),(2,5),(4,91)} #this is a set
dict1 = dict(((1,3),(2,5),(4,91)))
type(dict0)
type(dict0.keys())
print(dict0.keys())
print(type(dict1))
print(dict1.keys())

dict_keys(['key1', 'key2'])
<class 'dict'>
dict_keys([1, 2, 4])

In [2]:
#how to define that a method exists without rising an error
list1 = list()
print(list1.__hash__)
print(list1.append)

None
<built-in method append of list object at 0x7909e2d76080>

In [3]:
for i in dict1.keys():
  print(i)

1
2
4

In [4]:
for i in dict1.values():
  print(i)

3
5
91

In [5]:
for i in dict1.items():
  print(i, '|||', 'key: ', i[0],'value: ', i[1])

(1, 3) ||| key:  1 value:  3
(2, 5) ||| key:  2 value:  5
(4, 91) ||| key:  4 value:  91

In [6]:
print ([i for i in dict1.items()])

[(1, 3), (2, 5), (4, 91)]

In [7]:
for i in range(10):
  pass
i

9

In [8]:
#counter stays alive, it is identified from the for cycle
i

9

In [9]:
keys = ['Petya','Masha',"Tanya","Nguen Zhi'la Kurk"]

In [10]:
values = [24, 15, 23, 2334343]

In [11]:
base = dict(zip(keys,values))
for i in base.items():
  print(f'{i[0]} is {i[1]} years old')

Petya is 24 years old
Masha is 15 years old
Tanya is 23 years old
Nguen Zhi'la Kurk is 2334343 years old

In [12]:
#?1 what if operate with base variables when trying to apply the function

In [13]:
def func(s):
  print(s)
s = 'sdaf'
func(s = 'sdfasdf'*3)

#LOL

sdfasdfsdfasdfsdfasdf

In [14]:
zip_file = zip(keys,values,keys,values,keys)
next(zip_file)

('Petya', 24, 'Petya', 24, 'Petya')

In [15]:
next(zip_file)

('Masha', 15, 'Masha', 15, 'Masha')

In [16]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [17]:
#map - class
# map() creates a generator to apply a function to a list of data
list(map(str.upper,keys))

['PETYA', 'MASHA', 'TANYA', "NGUEN ZHI'LA KURK"]

In [18]:
list(map(int, ['2', '3','4']))

[2, 3, 4]

In [19]:
2 + 3 == 5;
2 + 3 ==4

2 + 3 == 66;

In [20]:
dict1
dict1[4]

91

In [21]:
dict1
del dict1[1]

In [22]:
dict1
[print(i) for i in dict1.values()] #the value seems to be deleted too

5
91

[None, None]

In [23]:
dict2 = dict()
dict2.update(dict1)
dict2.update(dict1)
dict2
#the same items key-value are not added

{2: 5, 4: 91}

In [24]:
...

Ellipsis

In [25]:
#a = dict(zip(list1,keys,values))
# .fromkeys(keys): creates a dictionary from
# the given list of keys
a = dict({'key1':'val1', 'key2':'val2'})
print(a)
b = a.fromkeys(keys)
print(b)

{'key1': 'val1', 'key2': 'val2'}
{'Petya': None, 'Masha': None, 'Tanya': None, "Nguen Zhi'la Kurk": None}

In [26]:
for i in range(10):
  ...

In [27]:
#cycled dictionary, but why
a["Nguen Zhi'la Kurk"] = a
print(a)

{'key1': 'val1', 'key2': 'val2', "Nguen Zhi'la Kurk": {...}}

In [28]:
for r in a.keys():
  print(r)

key1
key2
Nguen Zhi'la Kurk

In [29]:
b.update(a)
print(b)

{'Petya': None, 'Masha': None, 'Tanya': None, "Nguen Zhi'la Kurk": {'key1': 'val1', 'key2': 'val2', "Nguen Zhi'la Kurk": {...}}, 'key1': 'val1', 'key2': 'val2'}

In [30]:
#create dictionary with values 0> keys and keys 0>values
keys1 = [i**2 for i in range(100)]
values1 = [f"the {i}th element" for i in range(100)]
dict2 = dict(zip(keys1,values1))
print(dict2,sep='\n')
#print(type(dict2.keys()))
'''for i in dict2.keys():
      print(dict2[i])
      temp = dict2[i]
      dict2[i] = i
      i = temp
'''
#надо было создать новый словарь и тупо скопировать...


dict3 = dict([(values_,keys_) for keys_,values_ in dict2.items()])
dict3

{0: 'the 0th element', 1: 'the 1th element', 4: 'the 2th element', 9: 'the 3th element', 16: 'the 4th element', 25: 'the 5th element', 36: 'the 6th element', 49: 'the 7th element', 64: 'the 8th element', 81: 'the 9th element', 100: 'the 10th element', 121: 'the 11th element', 144: 'the 12th element', 169: 'the 13th element', 196: 'the 14th element', 225: 'the 15th element', 256: 'the 16th element', 289: 'the 17th element', 324: 'the 18th element', 361: 'the 19th element', 400: 'the 20th element', 441: 'the 21th element', 484: 'the 22th element', 529: 'the 23th element', 576: 'the 24th element', 625: 'the 25th element', 676: 'the 26th element', 729: 'the 27th element', 784: 'the 28th element', 841: 'the 29th element', 900: 'the 30th element', 961: 'the 31th element', 1024: 'the 32th element', 1089: 'the 33th element', 1156: 'the 34th element', 1225: 'the 35th element', 1296: 'the 36th element', 1369: 'the 37th element', 1444: 'the 38th element', 1521: 'the 39th element', 1600: 'the 40th element', 1681: 'the 41th element', 1764: 'the 42th element', 1849: 'the 43th element', 1936: 'the 44th element', 2025: 'the 45th element', 2116: 'the 46th element', 2209: 'the 47th element', 2304: 'the 48th element', 2401: 'the 49th element', 2500: 'the 50th element', 2601: 'the 51th element', 2704: 'the 52th element', 2809: 'the 53th element', 2916: 'the 54th element', 3025: 'the 55th element', 3136: 'the 56th element', 3249: 'the 57th element', 3364: 'the 58th element', 3481: 'the 59th element', 3600: 'the 60th element', 3721: 'the 61th element', 3844: 'the 62th element', 3969: 'the 63th element', 4096: 'the 64th element', 4225: 'the 65th element', 4356: 'the 66th element', 4489: 'the 67th element', 4624: 'the 68th element', 4761: 'the 69th element', 4900: 'the 70th element', 5041: 'the 71th element', 5184: 'the 72th element', 5329: 'the 73th element', 5476: 'the 74th element', 5625: 'the 75th element', 5776: 'the 76th element', 5929: 'the 77th element', 6084: 'the 78th element', 6241: 'the 79th element', 6400: 'the 80th element', 6561: 'the 81th element', 6724: 'the 82th element', 6889: 'the 83th element', 7056: 'the 84th element', 7225: 'the 85th element', 7396: 'the 86th element', 7569: 'the 87th element', 7744: 'the 88th element', 7921: 'the 89th element', 8100: 'the 90th element', 8281: 'the 91th element', 8464: 'the 92th element', 8649: 'the 93th element', 8836: 'the 94th element', 9025: 'the 95th element', 9216: 'the 96th element', 9409: 'the 97th element', 9604: 'the 98th element', 9801: 'the 99th element'}

{'the 0th element': 0,
 'the 1th element': 1,
 'the 2th element': 4,
 'the 3th element': 9,
 'the 4th element': 16,
 'the 5th element': 25,
 'the 6th element': 36,
 'the 7th element': 49,
 'the 8th element': 64,
 'the 9th element': 81,
 'the 10th element': 100,
 'the 11th element': 121,
 'the 12th element': 144,
 'the 13th element': 169,
 'the 14th element': 196,
 'the 15th element': 225,
 'the 16th element': 256,
 'the 17th element': 289,
 'the 18th element': 324,
 'the 19th element': 361,
 'the 20th element': 400,
 'the 21th element': 441,
 'the 22th element': 484,
 'the 23th element': 529,
 'the 24th element': 576,
 'the 25th element': 625,
 'the 26th element': 676,
 'the 27th element': 729,
 'the 28th element': 784,
 'the 29th element': 841,
 'the 30th element': 900,
 'the 31th element': 961,
 'the 32th element': 1024,
 'the 33th element': 1089,
 'the 34th element': 1156,
 'the 35th element': 1225,
 'the 36th element': 1296,
 'the 37th element': 1369,
 'the 38th element': 1444,
 'the 39th element': 1521,
 'the 40th element': 1600,
 'the 41th element': 1681,
 'the 42th element': 1764,
 'the 43th element': 1849,
 'the 44th element': 1936,
 'the 45th element': 2025,
 'the 46th element': 2116,
 'the 47th element': 2209,
 'the 48th element': 2304,
 'the 49th element': 2401,
 'the 50th element': 2500,
 'the 51th element': 2601,
 'the 52th element': 2704,
 'the 53th element': 2809,
 'the 54th element': 2916,
 'the 55th element': 3025,
 'the 56th element': 3136,
 'the 57th element': 3249,
 'the 58th element': 3364,
 'the 59th element': 3481,
 'the 60th element': 3600,
 'the 61th element': 3721,
 'the 62th element': 3844,
 'the 63th element': 3969,
 'the 64th element': 4096,
 'the 65th element': 4225,
 'the 66th element': 4356,
 'the 67th element': 4489,
 'the 68th element': 4624,
 'the 69th element': 4761,
 'the 70th element': 4900,
 'the 71th element': 5041,
 'the 72th element': 5184,
 'the 73th element': 5329,
 'the 74th element': 5476,
 'the 75th element': 5625,
 'the 76th element': 5776,
 'the 77th element': 5929,
 'the 78th element': 6084,
 'the 79th element': 6241,
 'the 80th element': 6400,
 'the 81th element': 6561,
 'the 82th element': 6724,
 'the 83th element': 6889,
 'the 84th element': 7056,
 'the 85th element': 7225,
 'the 86th element': 7396,
 'the 87th element': 7569,
 'the 88th element': 7744,
 'the 89th element': 7921,
 'the 90th element': 8100,
 'the 91th element': 8281,
 'the 92th element': 8464,
 'the 93th element': 8649,
 'the 94th element': 8836,
 'the 95th element': 9025,
 'the 96th element': 9216,
 'the 97th element': 9409,
 'the 98th element': 9604,
 'the 99th element': 9801}

In [31]:
keys2 = [i**2 for i in range(100)]
values2 = [f"the {i}th element" for i in range(100)]

for i in range(len(keys2)):
  print('before swap:',keys2[i],values2[i],sep='   ')
  temp = keys2[i]
  keys2[i] = temp
  print('after swap: ', keys2[i],values2[i],sep='   ')


  dict3 = {}

  dict3.update({})

before swap:   0   the 0th element
after swap:    0   the 0th element
before swap:   1   the 1th element
after swap:    1   the 1th element
before swap:   4   the 2th element
after swap:    4   the 2th element
before swap:   9   the 3th element
after swap:    9   the 3th element
before swap:   16   the 4th element
after swap:    16   the 4th element
before swap:   25   the 5th element
after swap:    25   the 5th element
before swap:   36   the 6th element
after swap:    36   the 6th element
before swap:   49   the 7th element
after swap:    49   the 7th element
before swap:   64   the 8th element
after swap:    64   the 8th element
before swap:   81   the 9th element
after swap:    81   the 9th element
before swap:   100   the 10th element
after swap:    100   the 10th element
before swap:   121   the 11th element
after swap:    121   the 11th element
before swap:   144   the 12th element
after swap:    144   the 12th element
before swap:   169   the 13th element
after swap:    169   the 13th element
before swap:   196   the 14th element
after swap:    196   the 14th element
before swap:   225   the 15th element
after swap:    225   the 15th element
before swap:   256   the 16th element
after swap:    256   the 16th element
before swap:   289   the 17th element
after swap:    289   the 17th element
before swap:   324   the 18th element
after swap:    324   the 18th element
before swap:   361   the 19th element
after swap:    361   the 19th element
before swap:   400   the 20th element
after swap:    400   the 20th element
before swap:   441   the 21th element
after swap:    441   the 21th element
before swap:   484   the 22th element
after swap:    484   the 22th element
before swap:   529   the 23th element
after swap:    529   the 23th element
before swap:   576   the 24th element
after swap:    576   the 24th element
before swap:   625   the 25th element
after swap:    625   the 25th element
before swap:   676   the 26th element
after swap:    676   the 26th element
before swap:   729   the 27th element
after swap:    729   the 27th element
before swap:   784   the 28th element
after swap:    784   the 28th element
before swap:   841   the 29th element
after swap:    841   the 29th element
before swap:   900   the 30th element
after swap:    900   the 30th element
before swap:   961   the 31th element
after swap:    961   the 31th element
before swap:   1024   the 32th element
after swap:    1024   the 32th element
before swap:   1089   the 33th element
after swap:    1089   the 33th element
before swap:   1156   the 34th element
after swap:    1156   the 34th element
before swap:   1225   the 35th element
after swap:    1225   the 35th element
before swap:   1296   the 36th element
after swap:    1296   the 36th element
before swap:   1369   the 37th element
after swap:    1369   the 37th element
before swap:   1444   the 38th element
after swap:    1444   the 38th element
before swap:   1521   the 39th element
after swap:    1521   the 39th element
before swap:   1600   the 40th element
after swap:    1600   the 40th element
before swap:   1681   the 41th element
after swap:    1681   the 41th element
before swap:   1764   the 42th element
after swap:    1764   the 42th element
before swap:   1849   the 43th element
after swap:    1849   the 43th element
before swap:   1936   the 44th element
after swap:    1936   the 44th element
before swap:   2025   the 45th element
after swap:    2025   the 45th element
before swap:   2116   the 46th element
after swap:    2116   the 46th element
before swap:   2209   the 47th element
after swap:    2209   the 47th element
before swap:   2304   the 48th element
after swap:    2304   the 48th element
before swap:   2401   the 49th element
after swap:    2401   the 49th element
before swap:   2500   the 50th element
after swap:    2500   the 50th element
before swap:   2601   the 51th element
after swap:    2601   the 51th element
before swap:   2704   the 52th element
after swap:    2704   the 52th element
before swap:   2809   the 53th element
after swap:    2809   the 53th element
before swap:   2916   the 54th element
after swap:    2916   the 54th element
before swap:   3025   the 55th element
after swap:    3025   the 55th element
before swap:   3136   the 56th element
after swap:    3136   the 56th element
before swap:   3249   the 57th element
after swap:    3249   the 57th element
before swap:   3364   the 58th element
after swap:    3364   the 58th element
before swap:   3481   the 59th element
after swap:    3481   the 59th element
before swap:   3600   the 60th element
after swap:    3600   the 60th element
before swap:   3721   the 61th element
after swap:    3721   the 61th element
before swap:   3844   the 62th element
after swap:    3844   the 62th element
before swap:   3969   the 63th element
after swap:    3969   the 63th element
before swap:   4096   the 64th element
after swap:    4096   the 64th element
before swap:   4225   the 65th element
after swap:    4225   the 65th element
before swap:   4356   the 66th element
after swap:    4356   the 66th element
before swap:   4489   the 67th element
after swap:    4489   the 67th element
before swap:   4624   the 68th element
after swap:    4624   the 68th element
before swap:   4761   the 69th element
after swap:    4761   the 69th element
before swap:   4900   the 70th element
after swap:    4900   the 70th element
before swap:   5041   the 71th element
after swap:    5041   the 71th element
before swap:   5184   the 72th element
after swap:    5184   the 72th element
before swap:   5329   the 73th element
after swap:    5329   the 73th element
before swap:   5476   the 74th element
after swap:    5476   the 74th element
before swap:   5625   the 75th element
after swap:    5625   the 75th element
before swap:   5776   the 76th element
after swap:    5776   the 76th element
before swap:   5929   the 77th element
after swap:    5929   the 77th element
before swap:   6084   the 78th element
after swap:    6084   the 78th element
before swap:   6241   the 79th element
after swap:    6241   the 79th element
before swap:   6400   the 80th element
after swap:    6400   the 80th element
before swap:   6561   the 81th element
after swap:    6561   the 81th element
before swap:   6724   the 82th element
after swap:    6724   the 82th element
before swap:   6889   the 83th element
after swap:    6889   the 83th element
before swap:   7056   the 84th element
after swap:    7056   the 84th element
before swap:   7225   the 85th element
after swap:    7225   the 85th element
before swap:   7396   the 86th element
after swap:    7396   the 86th element
before swap:   7569   the 87th element
after swap:    7569   the 87th element
before swap:   7744   the 88th element
after swap:    7744   the 88th element
before swap:   7921   the 89th element
after swap:    7921   the 89th element
before swap:   8100   the 90th element
after swap:    8100   the 90th element
before swap:   8281   the 91th element
after swap:    8281   the 91th element
before swap:   8464   the 92th element
after swap:    8464   the 92th element
before swap:   8649   the 93th element
after swap:    8649   the 93th element
before swap:   8836   the 94th element
after swap:    8836   the 94th element
before swap:   9025   the 95th element
after swap:    9025   the 95th element
before swap:   9216   the 96th element
after swap:    9216   the 96th element
before swap:   9409   the 97th element
after swap:    9409   the 97th element
before swap:   9604   the 98th element
after swap:    9604   the 98th element
before swap:   9801   the 99th element
after swap:    9801   the 99th element

In [32]:
#? is key in a dict mutable? what is mutable here?
#? how to apply some in-place methods
#? how to distinguish in-place methods from non-in-place methods


#print(keys,values)
s = (keys,values)
t = (key,value) for key,value in keys,values

#kak eta huinya rabotaet...... pizdts
print(s[0],s[1])
t = dict((i[0],i[1]) for i in s)
#??? what does this generator do? how to unpack this shit?
print(t)


#damn hard to guess how I should write this code. Not enough logics in it...
#still not enough understanding
#need da problems to solve

SyntaxError: ignored

In [33]:
#Task : create dictionary from 2 lists

list1 = keys
list2 = values

#? how to make a tuple out of list
# answer : tuple1 =  tuple(list1)

dict4 = dict(zip(keys,values))
print(f'dict4: {dict4}')

#FUCKING ZIP FUNCTION OF COURSE


dict5 = dict((value,key) for key,value in dict4.items())
print(f"dict4 reversed: {dict5}")

#completed

dict4: {'Petya': 24, 'Masha': 15, 'Tanya': 23, "Nguen Zhi'la Kurk": 2334343}
dict4 reversed: {24: 'Petya', 15: 'Masha', 23: 'Tanya', 2334343: "Nguen Zhi'la Kurk"}

In [34]:
#Task : sort the dictionary, let the values be ints

  #subtask : sort the list

'''
  list3 = [int(input()) for i in range(5)]

  print(f"before sort: {list3}")

  list3.sort()

  print(f"after sort: {list3}")
'''
  #subtask completed

list3 = list(zip(keys,values))

print(list3)

list3.sort(key = lambda x : x[1]) #|here I wrote the lambda-function
                                  #|defined in the argument
                                  #
                                  #

print(f'after sort : {list3}')
#dict4.sort(key=lambda x : x[0])

[('Petya', 24), ('Masha', 15), ('Tanya', 23), ("Nguen Zhi'la Kurk", 2334343)]
after sort : [('Masha', 15), ('Tanya', 23), ('Petya', 24), ("Nguen Zhi'la Kurk", 2334343)]

In [35]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [36]:
help('lambda')

Lambdas
*******

   lambda_expr ::= "lambda" [parameter_list] ":" expression

Lambda expressions (sometimes called lambda forms) are used to create
anonymous functions. The expression "lambda parameters: expression"
yields a function object.  The unnamed object behaves like a function
object defined with:

   def <lambda>(parameters):
       return expression

See section Function definitions for the syntax of parameter lists.
Note that functions created with lambda expressions cannot contain
statements or annotations.

Related help topics: FUNCTIONS

In [45]:
dict6 = {pow(i,3) : i for i in range(10) }
print(dict6)

dict7 = {v:k for k,v in dict6.items()}
print(dict7)

{0: 0, 1: 1, 8: 2, 27: 3, 64: 4, 125: 5, 216: 6, 343: 7, 512: 8, 729: 9}
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [46]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [47]:
set1 = {1,12,3,53,4,234,3}

In [51]:
print(set1)
if 4 in set1:
  print('asdfafsdf')

{1, 3, 4, 53, 234, 12}
asdfafsdf

In [62]:
set2 = set([223,23,3,34])
set2.update(set1)
print(set2)
print(set2.intersection(set1))
set2.intersection_update({2,3,3333333,3,3,3,3423412341234})
print(set2)
set2-set()
set()-set2

{1, 34, 3, 4, 234, 12, 53, 23, 223}
{1, 3, 4, 234, 12, 53}
{3}

set()

In [64]:
set3 = {i**2 for i in range(1000)}
set4 = {i**3 for i in range(50)}
set5 = set3.intersection(set4) #all 6degree
for i in range(50):
  if i**6 in set5:
    print(f'it is true that 6th degree of {i} is in set5')
print(f'length of set5 is {len(set5)}')

it is true that 6th degree of 0 is in set5
it is true that 6th degree of 1 is in set5
it is true that 6th degree of 2 is in set5
it is true that 6th degree of 3 is in set5
it is true that 6th degree of 4 is in set5
it is true that 6th degree of 5 is in set5
it is true that 6th degree of 6 is in set5
it is true that 6th degree of 7 is in set5
length of set5 is 8

In [67]:
set5.difference_update(set3)
print(len(set5))

0

In [69]:
set5.discard(224)
set5.remove(224)

KeyError: ignored

In [73]:
set6 = {2*i for i in set4}
print(set4,set6,sep='\n')

#sets are unordered

set6.update(set([1,-1,-2,-3])) #add elements -3,-2,-1,1 to set6
print(set6)

{0, 1, 512, 4096, 13824, 32768, 64000, 12167, 8, 15625, 39304, 103823, 117649, 79507, 2197, 10648, 27, 17576, 9261, 3375, 4913, 1331, 59319, 2744, 68921, 97336, 64, 1728, 8000, 21952, 46656, 24389, 85184, 5832, 6859, 343, 216, 729, 54872, 50653, 29791, 35937, 19683, 1000, 74088, 110592, 91125, 27000, 42875, 125}
{0, 1024, 2, 8192, 27648, 65536, 128000, 128, 3456, 16000, 48778, 24334, 16, 78608, 31250, 11664, 13718, 207646, 235298, 159014, 4394, 686, 21296, 432, 1458, 109744, 54, 101306, 59582, 71874, 39366, 170368, 35152, 2000, 148176, 18522, 43904, 6750, 221184, 9826, 93312, 2662, 182250, 118638, 5488, 194672, 137842, 54000, 85750, 250}
{0, 1024, 2, 8192, 27648, 65536, 128000, 128, 3456, 16000, 48778, 1, 24334, 16, 78608, 31250, 11664, 13718, 207646, 235298, 159014, 4394, 686, 21296, 432, 1458, 109744, 54, 101306, 59582, 71874, 39366, 170368, 35152, 2000, 148176, 18522, 43904, 6750, 221184, 9826, 93312, 2662, 182250, 118638, 5488, 194672, 137842, 54000, 85750, -2, 250, -3, -1}