In [1]:
#Lecture3 Ilia Sklonin
# ? : for asking the questions
# ! for theory
# ... well let's see what happens

In [2]:
list1 = list(range(100))
b = list1
c = list1[::-1] # inverse the list

print(c) # c has the same link as list1
b.append(3)
print(list1)
#list1 and b have the same link, just 2 names of the same obj

[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 3]

In [3]:
string = 'Avada Kedavra'
inv = string[::-1]
print(inv)

for i in string: #deduce : string is iterable
  print(i)

arvadeK adavA
A
v
a
d
a

K
e
d
a
v
r
a

In [4]:
 list1.reverse() #in-place method
 print(list1)

[3, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [5]:
list1 = list1[:10:]
list2 = list1[::-1]
list1 + list2, list2 + list1

([3,
  99,
  98,
  97,
  96,
  95,
  94,
  93,
  92,
  91,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  3],
 [91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  3,
  3,
  99,
  98,
  97,
  96,
  95,
  94,
  93,
  92,
  91])

In [6]:
list1[2:5] = ['subsequence 2:5']
print(list1)

#?1 what if we do list1[2:5].reverse()?
#?2 will id(list1) change if we change list1[0]?

[3, 99, 'subsequence 2:5', 95, 94, 93, 92, 91]

In [7]:
#?2
a = id(list1)
print(a)
list1[0] = '0'
b = id(list1)
print(b)
if a == b:
  print('id didn\'t change')

  #seems that beginning of list1 is not list1[0]

139754318865984
139754318865984
id didn't change

In [8]:
#?1
print(list1)
print(list1[0:4])
list1[0:4].reverse() # nothing happened. Probably copy
                     #of the sublist was created, not the list
                     # itself
print(list1)
print(list1[0:4])
#?3 what is list[0:4]() doing .

['0', 99, 'subsequence 2:5', 95, 94, 93, 92, 91]
['0', 99, 'subsequence 2:5', 95]
['0', 99, 'subsequence 2:5', 95, 94, 93, 92, 91]
['0', 99, 'subsequence 2:5', 95]

In [9]:
list2 = list1[::]
list2.clear()
print(list2)

[]

In [10]:
len(list1)
list1.__len__()

8

In [11]:
#sort
list2 += list(range(10))
list2.reverse()
print(list2)
#! better not to launch code with in-place methods many times, rather reload all
#! observe idempotents H^2 = H

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [12]:
#sort
list2.sort()
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
help(list2.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [14]:
list3 = list2[:]
print(list3)
list3.sort(reverse=1) #sort descending
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [15]:
list4 = [3, 'a', range(10)]
print(list4)
list4.sort(key=str) #rise error cause range(10)
#! better create local objects in one field

[3, 'a', range(0, 10)]

In [16]:
#sorted()
list5 = sorted(list4, key=str) #key = function
print(list5)

[3, 'a', range(0, 10)]

In [17]:
#tuples
tuple1 = 3, '4', help, int, (2,3)
print(tuple1)

(3, '4', Type help() for interactive help, or help(object) for help about object., <class 'int'>, (2, 3))

In [18]:
x = 'ab'
y = 'a' + 'b'
print(y is x)
#seems that constants have the same place in the memory

True

In [19]:
s = 1
while True:
    s += 1
    if s%2 ==0:
      continue #restart the cycle
    print(s)
    if s > 100:
      break #breaks the cycle, moves to next strings

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
101

In [20]:
#?4 : if we make continue in for cycle, does i increment?
#?4
for i in range(10):
  if i%2 == 0:
    i -= 2
    #continue

In [21]:
for i in range(10):
  if i < 0:
    break
    i += 1
else:
  print('no break worked')

no break worked

In [22]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [23]:
list6 = ['rain', 'clouds', 'mushrooms','loss','death','revenge','love']
for i,name in enumerate(list6):
  print(f'{i}th element is ', name)

0th element is  rain
1th element is  clouds
2th element is  mushrooms
3th element is  loss
4th element is  death
5th element is  revenge
6th element is  love

In [24]:
 x  = [i**2 for i in range(10) if i%2 == 0 ]
 print(*x)
# yebanutiy kod
 print(sorted([(y,x) for x in range(1,100) for y in range (x+1,100) if y % x == 0               ]))

0 4 16 36 64
[(2, 1), (3, 1), (4, 1), (4, 2), (5, 1), (6, 1), (6, 2), (6, 3), (7, 1), (8, 1), (8, 2), (8, 4), (9, 1), (9, 3), (10, 1), (10, 2), (10, 5), (11, 1), (12, 1), (12, 2), (12, 3), (12, 4), (12, 6), (13, 1), (14, 1), (14, 2), (14, 7), (15, 1), (15, 3), (15, 5), (16, 1), (16, 2), (16, 4), (16, 8), (17, 1), (18, 1), (18, 2), (18, 3), (18, 6), (18, 9), (19, 1), (20, 1), (20, 2), (20, 4), (20, 5), (20, 10), (21, 1), (21, 3), (21, 7), (22, 1), (22, 2), (22, 11), (23, 1), (24, 1), (24, 2), (24, 3), (24, 4), (24, 6), (24, 8), (24, 12), (25, 1), (25, 5), (26, 1), (26, 2), (26, 13), (27, 1), (27, 3), (27, 9), (28, 1), (28, 2), (28, 4), (28, 7), (28, 14), (29, 1), (30, 1), (30, 2), (30, 3), (30, 5), (30, 6), (30, 10), (30, 15), (31, 1), (32, 1), (32, 2), (32, 4), (32, 8), (32, 16), (33, 1), (33, 3), (33, 11), (34, 1), (34, 2), (34, 17), (35, 1), (35, 5), (35, 7), (36, 1), (36, 2), (36, 3), (36, 4), (36, 6), (36, 9), (36, 12), (36, 18), (37, 1), (38, 1), (38, 2), (38, 19), (39, 1), (39, 3), (39, 13), (40, 1), (40, 2), (40, 4), (40, 5), (40, 8), (40, 10), (40, 20), (41, 1), (42, 1), (42, 2), (42, 3), (42, 6), (42, 7), (42, 14), (42, 21), (43, 1), (44, 1), (44, 2), (44, 4), (44, 11), (44, 22), (45, 1), (45, 3), (45, 5), (45, 9), (45, 15), (46, 1), (46, 2), (46, 23), (47, 1), (48, 1), (48, 2), (48, 3), (48, 4), (48, 6), (48, 8), (48, 12), (48, 16), (48, 24), (49, 1), (49, 7), (50, 1), (50, 2), (50, 5), (50, 10), (50, 25), (51, 1), (51, 3), (51, 17), (52, 1), (52, 2), (52, 4), (52, 13), (52, 26), (53, 1), (54, 1), (54, 2), (54, 3), (54, 6), (54, 9), (54, 18), (54, 27), (55, 1), (55, 5), (55, 11), (56, 1), (56, 2), (56, 4), (56, 7), (56, 8), (56, 14), (56, 28), (57, 1), (57, 3), (57, 19), (58, 1), (58, 2), (58, 29), (59, 1), (60, 1), (60, 2), (60, 3), (60, 4), (60, 5), (60, 6), (60, 10), (60, 12), (60, 15), (60, 20), (60, 30), (61, 1), (62, 1), (62, 2), (62, 31), (63, 1), (63, 3), (63, 7), (63, 9), (63, 21), (64, 1), (64, 2), (64, 4), (64, 8), (64, 16), (64, 32), (65, 1), (65, 5), (65, 13), (66, 1), (66, 2), (66, 3), (66, 6), (66, 11), (66, 22), (66, 33), (67, 1), (68, 1), (68, 2), (68, 4), (68, 17), (68, 34), (69, 1), (69, 3), (69, 23), (70, 1), (70, 2), (70, 5), (70, 7), (70, 10), (70, 14), (70, 35), (71, 1), (72, 1), (72, 2), (72, 3), (72, 4), (72, 6), (72, 8), (72, 9), (72, 12), (72, 18), (72, 24), (72, 36), (73, 1), (74, 1), (74, 2), (74, 37), (75, 1), (75, 3), (75, 5), (75, 15), (75, 25), (76, 1), (76, 2), (76, 4), (76, 19), (76, 38), (77, 1), (77, 7), (77, 11), (78, 1), (78, 2), (78, 3), (78, 6), (78, 13), (78, 26), (78, 39), (79, 1), (80, 1), (80, 2), (80, 4), (80, 5), (80, 8), (80, 10), (80, 16), (80, 20), (80, 40), (81, 1), (81, 3), (81, 9), (81, 27), (82, 1), (82, 2), (82, 41), (83, 1), (84, 1), (84, 2), (84, 3), (84, 4), (84, 6), (84, 7), (84, 12), (84, 14), (84, 21), (84, 28), (84, 42), (85, 1), (85, 5), (85, 17), (86, 1), (86, 2), (86, 43), (87, 1), (87, 3), (87, 29), (88, 1), (88, 2), (88, 4), (88, 8), (88, 11), (88, 22), (88, 44), (89, 1), (90, 1), (90, 2), (90, 3), (90, 5), (90, 6), (90, 9), (90, 10), (90, 15), (90, 18), (90, 30), (90, 45), (91, 1), (91, 7), (91, 13), (92, 1), (92, 2), (92, 4), (92, 23), (92, 46), (93, 1), (93, 3), (93, 31), (94, 1), (94, 2), (94, 47), (95, 1), (95, 5), (95, 19), (96, 1), (96, 2), (96, 3), (96, 4), (96, 6), (96, 8), (96, 12), (96, 16), (96, 24), (96, 32), (96, 48), (97, 1), (98, 1), (98, 2), (98, 7), (98, 14), (98, 49), (99, 1), (99, 3), (99, 9), (99, 11), (99, 33)]

In [25]:
#not clear what happened
#wow! list([0]*3) is changeable object, namely, the list. Changing one of the links in one of the lists, we change all of them!
A = [[0]*3]*3
print(A)
A[0][1] = 10
print(A)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
[[0, 10, 0], [0, 10, 0], [0, 10, 0]]

In [26]:
s = ['ad']
B = [s * 5] *5
B[0][3] = ['da']
print(B)

[['ad', 'ad', 'ad', ['da'], 'ad'], ['ad', 'ad', 'ad', ['da'], 'ad'], ['ad', 'ad', 'ad', ['da'], 'ad'], ['ad', 'ad', 'ad', ['da'], 'ad'], ['ad', 'ad', 'ad', ['da'], 'ad']]

In [27]:
s = list((1,2,4,5,2))
d = [s] * 5
d[0].append(232) #the same lists are just copies of links to the same object, be careful!!!
print(*d)

[1, 2, 4, 5, 2, 232] [1, 2, 4, 5, 2, 232] [1, 2, 4, 5, 2, 232] [1, 2, 4, 5, 2, 232] [1, 2, 4, 5, 2, 232]

In [28]:
generator = (i**2 for i in range(10))
type(generator)
print(generator)
list7 = list(generator)
print(list7)

<generator object <genexpr> at 0x7f1b16837290>
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
list7 = [1,3,5,6,7,54,3]
sum(list7)
max(list7)
min(list7)

1

In [30]:
def replace(string,substring,new_substring):
  lis = string.split(substring)
  st = new_substring.join(lis)
  print(st)
  return st

print(replace('My name is delusion of december and decolonization of demetrius','de','anti'))

My name is antilusion of anticember and anticolonization of antimetrius
My name is antilusion of anticember and anticolonization of antimetrius

In [31]:
def Чярли_Гордан(s):
  pass
  #in the next lecture